<div class="row">
	<div class="col-lg-6 container-fluid">
	<% if(params.errors) {%>
      <% params.errors.map(({msg}) => { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error</strong> <%=msg%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }) %>
  <% } %>
  <% if(params.notifications) { %>
  	<% params.notifications.map(({id, topic, body}) => { %>
  	<div class="card mb-3">
	  <div class="card-body">
	    <h5 class="card-title"><b>Topic: </b><%=topic%></h5>
	    <p class="card-text text-truncate" style="max-width: 150px;"><b>Excerpt: </b><%=body%></p>
	    <a href="/admin/notifications/<%=id%>" class="btn btn-primary">Open</a>
	  </div>
	  <div class="card-footer text-muted">
	    Some time ago
	  </div>
	</div>
  <% }) %>
  <% } else if(params.notification) { %>
  <% params.notification.map(({topic, body}) => { %>
  	<div class="card">
	  <div class="card-header">
	    <%=topic%>
	  </div>
	  <div class="card-body">
	    <blockquote class="blockquote mb-0">
	      <p><%=body%></p>
	  </div>
	</div>
	<% }) %>
  <% } else {%>
  	<div class="row">
      <div class="col-12 text-center">
        <h2>No notifications to see</h2>
      </div>
    </div>
  <% } %>
</div>
</div>