<!DOCTYPE html>
<html lang="en">
<head>
	<%-include("../_partials/head")%>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="55">
		<%-include('../_partials/navbar')%>
		<%-body%>
		<%-include('../_partials/footer')%>
		<%-include('../_partials/pop-up')%>
	<div id="preloader"></div>
</body>
</html>