<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		body{
			width: 100%;
		}
	</style>
	<%-include("../_partials/head")%>
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="55">
	<div id="content">
		<%-include('../_partials/navbar')%>
		<%-body%>
		<%-include('../_partials/footer')%>
		<%-include('../_partials/pop-up')%>
	</div>
	<div id="preloader"></div>
</body>
</html>